/* You can add global styles to this file, and also import other style files */
.form-control, .form-control:focus {
  background-color: #222326;
  color: white;

}

li {
  transition: height 1s;
}

body {
  background-color: #222326;
  color: white;
  font-family: 'Gotham';
}

