
<div class = "container">
   <form >

    <h2>Create Playlist</h2>
      <div class = "form-group">
         <input type = "text" class = "form-control" id = "productid" required
            [(ngModel)] = "model.name" name = "id" placeholder="Playlist name" autocomplete=off>
      </div>
      
      <div class = "form-group">
         <textarea type = "text"  class = "form-control" id = "name"
            [(ngModel)] = "model.description" name = "name" placeholder="Playlist description" autocomplete=off>
          </textarea>
      </div>
      
      <div class="form-group">
        <input class="btn btn-success" type="submit" (click) = "playlist.createPlaylist(model.name, model.description)">
      </div>
   </form>
</div>