
<div class = "container">
   <form >
      <div class = "form-group">
         <label for = "productid">Name</label>
         <input type = "text" class = "form-control" id = "productid" required
            [(ngModel)] = "model.name" name = "id">
      </div>
      
      <div class = "form-group">
         <label for = "name">Description</label>
         <textarea type = "text"  class = "form-control" id = "name"
            [(ngModel)] = "model.description" name = "name">
          </textarea>
      </div>
      
      <div class="form-group">
        <input class="btn btn-success" type="submit" (click) = "playlist.createPlaylist(model.name, model.description)">
      </div>
   </form>
</div>