

  <div class = "container">
     <form>
        <div class = "form-group">
           <input autocomplete="off" (keydown) = 'searchTracks( model.query + ($event.key.length > 1 ? "": $event.key))' type = "text" class = "form-control" id = "productid" required (click) = 'searchTracks("model.query")'
              [(ngModel)] = "model.query" name = "id" placeholder="Add new tracks">
        </div>
     </form>
      <div id = 'tracks' *ngIf = 'tracks.length > 0'>
        <div (click) = 'addTrack(track)' class="search" *ngFor = 'let track of tracks'>
          <a >{{track.name}} - <strong>  {{track.artists[0]}}</strong></a>
        </div>
      </div>
  </div>