header {
  padding-left:50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#info {
  color: #c9cacc;
}

#tracks {
  border-bottom:0.01em solid #c9cacc;
  margin: 0 5%;

}

img {
  max-height: 300px;
}
.track {
  padding: 5px;
  border-top: 0.01em solid #c9cacc;
}

p {
  margin-bottom: 0; 
}

h1 {
  font-weight: 600;
}

hr {
  background-color: white;
  padding: 0;
  height: 0;
}