.playlists {
  margin-top: 5%;
}

img {
  margin-top: 1px; 
  padding: 10px;
  height: 100px;
}

.name {
  text-decoration: none;
  color: white;
}

.playlist {
  border-bottom: 1px white solid;
}


p {
  font-size: 12px;
}

button {
  margin-top: 10%;
}